body{
  font-family: 'Arimo', sans-serif;
}
a{
  color: #6D82C3;
}

a:hover{
  color: #6D82C3;
}

p{
  font-size: 14px;
  color: #4A4A4A;
  margin: 0;
}

#header{
  margin-top: 80px;
  margin-bottom: 40px;
}

#main-block{

}

#title-right{
  width: 15%;
}

#title-left{
  width: 78%;
  border-bottom: 1px solid #999;
}

#page-container{
  width: 70%;
  margin:0 auto;
}

.radio-feedback{
  margin-right: 20px;
}

.error-text{
  color: red;
  font-size: 11px;
}

.light-green{
  color: #15BD9C;
}

.light-green-background{
  background-color: #12A185;
  color: #ffffff;
}

.light-green-background:hover {
  background-color: #12A185;
  color: #ffffff;
}

.light-blue{
  color: #229ADC;
}

.light-blue-background{
  background-color: #1380BA;
  color: #ffffff;
}

.light-blue-background:hover {
  background-color: #1380BA;
  color: #ffffff;
}

.navy{
  color: #32495E;
}

.navy-background{
  background-color: #2B3F51;
  color: #ffffff;

}

.navy-background:hover {
  background-color: #2B3F51;
  color: #ffffff;

}


.orange{
  color: #F5C300;
}

.orange-background{
  background-color: #F69B00;
  color: #ffffff;
}

.orange-background:hover {
  background-color: #F69B00;
  color: #ffffff;
}

.checkbox label, .radio label{
  font-size: 14px;
}

.question{
  font-weight: bold;
}
.sub-question{
  color: #666666;
}

.question-container{
  margin-bottom: 20px;
}

.radio label{
  font-weight: 100;
  padding-left: 0px;
}

.light-red{
  color: lightcoral;
}

.light-red-background{
  background-color: lightcoral;
  color: #ffffff;
}

.light-red-background:hover {
  background-color: lightcoral;
  color: #000000;
}

.light-yellow{
  color: #ffff00;
}

.light-yellow-background{
  background-color: #ffff00;
  color: #ffffff;
}

.light-yellow-background:hover {
  background-color: #ffff00;
  color: #000000;
}

#join-us{
  margin-top: 7%;
}

#notify-form{
  margin-top: 2%;
  margin-bottom: 7%;
}

#notify-me{
  border-color: transparent;
  width: 12%;
  margin-bottom: 3px;
  border-radius: 0;
}

#feedback-button{
  border-color: transparent;
}

.radios{
  margin-right: 20px;
}

.domain-name{
  color: #272727;
  font-size: 24px;
  font-family: 'Patua One', cursive;
}


#vision-message{
  font-size: 58px;
  font-weight: bold;
}

.email-input{
  width: 30%;
  height: 34px;
  margin-left: 1%;
  border: 1px solid #adadad

}


#ideal-time-input, #hours-a-week-input{
  float: right;
  margin-left: 20px;
  height: 32px;
  width: 50px;
}

#ideal-time-select{
  width: 13%;
  float: right;
}

#footer{
  padding-top: 14%;
}

/*#fix for bootstrap radio buttons*/
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-right: -20px;
  margin-left: auto;
}

.checkbox label{
  margin-right: 20px;
}

/*TODO Move to thank you page css*/
#feedback{
  margin-bottom: 10px;
  margin-top: 20px;
}


#free_text{
  width: 60%;
}



@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
{
  .email-input{
    width: 40%;
  }
}

