<h1 id="vision-message" class="light-green">
  תודה ונשתמע!

</h1>

<h1 id="vision-message" class="light-green">
  הצטרפו לדיון פרוייקטי הצד ב
<a href="https://www.facebook.com/groups/Hashavua/" target="_blank">
  "השבוע - שאלות ותשובות על סטארטאפים"
</a>
</h1>
