
<div id="post">
  <h1>
  פוסט ראשון - פרוייקט צד על פרוייקטי צד
  </h1>
  <div class="paragraph">
  אוהד ואני הכרנו ב Fiverr כשעבד שם כמפתח בקאנד בכיר ואני (עד היום) עובד שם כמנהל מוצר בכיר.
  לפני כמה שבועות אוהד ואני נפגשנו לקפה, ודיברנו על הרצון והמשיכה שלנו לעשות משהו ״שלי״, ועל הפרדוקס הגדול שבין האהבה לday jobs שלנו, על האתגרים והלימוד,הנוחות ותחושת הביטחון לבין החשק לבדוק את היכולות שלנו,להנות מהנסיון אותו צברנו, ולהיות חלק מהמפכה התעשייתית הטכנולוגית המטורפת הזו שמתרחשת סביבינו בשנים האחרונות.
  אני הקמתי ב2009 סטארטאפ בשם ווי-בטר שהייתה אחת מאפליקציות המוניות הראשונות בעולם, והציעה אפילו שירות שיתוף נסיעות מונית, בזול, בזמן אמת (בדיוק במודל של  UberPool דרך אגב). נכשלתי, מכל הסיבות הרגילות (פוקוס, מרדף אחר משקיעים, שותפות מאתגרת, תחרות, פרודקט מרקט פיט,  וכו׳…) אבל התחושה שיש משהו, שאני אחראי לקיומו הטיסה אותי כל יום מהמיטה ומילאה אותי בתחושה של הגשמה עצמית.
  הכישלון, הניסיון שצברתי כיזם, והרצון שלי לעבוד עם אנשים בעלי נסיון רב הביאו אותי ל Fiverr. אבל הבטן לא הפסיקה לעבוד והרצון ל׳בייבי משלי׳ דיגדג שם כל הזמן..
  באותו יום בבית הקפה הבטן שלי פגשה במחשבות של אוהד על פרוייקטי צד. הפורמט הזה פתאום נראה לי מדהים, גם כדרך לחזור וליזום משהו, אבל גם כנושא לפרוייקט עצמו- פרוייקט צד על פרוייקטי צד.
  אני חושב שבאופן יחסי כל כך קל היום לבנות מוצר, ויש הרבה מתודות לעשות את זה נכון, שלפעמים אפשר לעשות את זה בהשקעה של כמה שעות בשבוע. לא צריך אפילו לוותר על העבודה ועל הביטחון שהיא נותנת. הסיכון הוא כל כך מזערי שאני באמת מאמין שבעתיד הלא רחוק, פרוייקטי צד יעשו מהפכה של ממש בעולם היזמות, ואוהד נתן לי את האפשרות לבדוק את זה ואולי אפילו לעזור לזה לקרות.
  </div>

  עוד לפני שנפגשנו, אוהד יצר קשר עם איתן מהשבוע שהתחבר לרעיון ורצה לעזור לנו ולייצר ערך מוסף לקהילה.
  אחרי שיחה קצרה בה התפלפלנו על מהות הפרוייקט הבנו שיש כאן עניין, אבל שיכולות להיות דרכים רבות ושונות לבנות אותו ולחבר אותו לקהילה. בשלב מסוים איתן זרק אותנו למים ואמר לנו פשוט לעשות פוסט על הדף, להזמין אנשים לפרסם רעיונות, ולראות מה קורה. החלטנו ללכת על זה. כדי למקסם את האימפקט של הפוסט החלטנו גם לייצר דף נחיתה, לנסות לרשום משתמשים ולענות על שאלות שאנו רואים בהן שאלות קריטיות המשפיעות של המוצר ועל הצעת הערך, חלקם גם נושאים שלוו בוויכוחים ערים.
  בחרנו בשם WalkTheWalk כי נראה לנו שהקושי האמיתי הוא בתנועה לעשייה. אנשים רוצים לעשות, אבל לא מצליחים לצאת לדרך. אנחנו רוצים לבנות מוצר שיעזור להם ללכת את הצעדים הראשונים והכל כך קשים במעבר בין רעיון לביצוע.

  embedded facebook post

  לשמתינו הרבה ראינו engagement טוב לפוסט בהשואה לפוסטים אחרים בדף. אין ספק שנגענו בנקודה טובה, בצורך של אנשים. אנשים מעוניינים לעשות פרוייקטי צד, נתקלים בקשיים, ורוצים שתהיה להם עזרה עם זה..
  עם זאת, לא ראינו שאנשים ממהרים לפרסם רעיונות, וגם אלו שכן, כשדיברנו איתם, הבנו שיש להם רעיונות טובים יותר אבל הם חוששים לפרסם אותם בצורה כה גלויה ולא מבוקרת.
  לא ראינו כמעט שום פעילות של הצטרפות או דיון על הרעיונות השונים (פרט לאחת התגובות האחרונות בהן נוצר חיבור בין מהנדס חשמל למעצבת תעשייתית- התכתבות קטנה ומרגשת מאוד עבורינו)  עוד?. רוב הדיון סבב סביב הרעיון שלנו, כנראה שפוסט הוא דרך טובה לעורר דיון על נושא הפוסט, אבל לא מספיק נוח כנקודת מוצא לדיונים שונים על רעיונות שונים, נהיה באלאגן.

  מעבר לכמות הלייקים והתגובות, הגיעו לדף 414380 איש, מתוכם 98כ88 השאירו מייל שזה conversion של 25 אחוז- לא רע בכלל (אנחנו מניחים שעל מנת להתחיל חזק נצטרך להרים קבוצה של כ200 איש, וזה אומר להביא 800 איש לדף. משימה אפשרית כשמסתכלים על כמות הערוצים הקיימים להגעה לקבוצות היעד שלנו).
  הנתון המרשים יותר הוא שמתוך 9888 האנשים שנרשמו, 8375 מילאו את הסקר, במלואו. הנתון הזה מעיד על engagement חזק, ועל הפוטנציאל הקהילתי של הפלטפורמה (אנשים רואים בעצמם שותפים למהלך), כמובן שהפניה דרך קבוצת הפייסבוק של השבוע היא סופר משמעותית לעניין, מראש מדובר על קהילה מאוד פעילה ומאוד תורמת, וזה בא לידי ביטוי באיכות האנושית וברצון הטוב של אנשים לעזור.


  אוקיי, הבנו שאנשים רוצים לעשות פרוייקטי צד, ושהסיפור שלנו כנראה עובד, אבל למה? כמובן שיש סיבות רבות ומגוונות, אבל מתוך הסקר ניכר שרובכם רוצים יותר מהכל להכיר אנשים (31%) ולאתגר עצמכם מקצועית (25%) מיעוט יכנסו לזה בגלל הכסף (11%).




  השאלה הבאה בסקר שאלה ״איך הכי סביר שהיית משתמש/ת בפלטפורמה?

  ניתן לראות שכל אחת מהתשובות עליהן חשבנו היא אפשרית באותק מידה, אנחנו לא מתים של תשובות כאלה כי זה לא שולל שום אופציה, לא עוזר לקבל החלטות חדות, ולא נותן תובנות מוחלטות.
  אבל כשמסתכלים על המידע אחרת מגלים שהתמונה די טובה:

  הצעת הערך לא מדברת רק לצד אחד - בעלי רעיונות המחפשים שותפים, או חסרי רעיונות המחפשים רעיון,. אלא יש דווקא מיקס ביחס מאוד נכון לפרוייקטי צד. בעל רעיון אחד על כל שלושה אנשים. זה אחלה. וזה אומר שיכולים להיווצר מיקסים טובים.

  השאלה הבאה התייחסה למשך הפרוייקט. לפני הסקר מצאנו את עצמינו מתווכחים רבות על השאלה הזו. מצד אחד אנחנו רוצים לגרום לאנשים להגיע למוצר בצורה המהירה ביותר, כך שלפטפורמה יהיו תוצרים רבים. מצד שני, התחושה האישית שלנו, בעודנו בונים את פרוייקט הצד שלנו היא שאנחנו לא מחפשים סטוץ. אנחנו רוצים קשר ארוך טווח. אנחנו רוצים לאפשר לפרוייקט הזה להפוך למשהו משמעותי, ומתייחסים אליו כאל מיזם. אמנם צדדי, אמנם ברמת סיכון מדודה, אבל עם כל הלב.
  כאמור, בשאלה הראשונה הבנו שאתם רוצים להכיר אנשים, אבל לאיזו מערכת יחסים? סטוץ או דייטינג מתמשך עם פוטנציאל לחתונה?


  התשובה חד משמעית. רובכם לא רואים בפלטפורמה הזו פלטפורמה להאקאתונים. אתם רוצים פרוייקטים ארוכי טווח. הכרויות שיכולות להפוך לקשר ארוך טווח. שלושה חודשים הוא פרק הזמן המקסימלי שאפשרנו, מעניין מה היו התוצאות אם היינו מאפשרים גם לבחור בפרק זמן ארוך יותר...

  ולבסוף, מי אתם אנשים המעוניינים בפרוייקטי צד? רובכם אנשי מוצר, יש גם מפתחים ואנשי שיווק רבים. מעבר לזה שמדובר בעוד נתון מעולה עבורינו ועבור הצעת הערך שלנו, הוא גם ממחיש עד כמה  מגוונת קהילת החברים ב״השבוע״ ועד כמה ערך מוצאים אנשים שונים מהתוכן המתפרסם בה.
  מעניין עם מעצבים פחות בעניין של פרוייקטי צד, או שבאופן יחסי יש פחות מעצבים בקהילת ״השבוע״ ולכן אלו הנתונים… נחיה ונראה.


  אז מה הלאה? מנסים לתרגם את התובנות למוצר. מוצר שמאפשר לאנשים להכיר אנשים ו״לצאת״ לפרוייקט צד, בין אם יש להם או אין להם רעיון. משך הפרוייקטים צריך להיות בין חודש לשלושה (אולי חודשיים?). המוצר צריך לכלול פיצ׳רים המגנים במידה מסוימת על הרעיונות, ונותנים לבעל הרעיון תחושת ביטחון ושליטה.
  מעבר לכך קיבלנו כמה תגובות מעניינות לגבי העזרה בהליכה
  עלו גם שאלות כבדות לגבי בעלות על הרעיון, ולגבי אחוזים… מה דעתכם? אנחנו בגישה של לפשט עד המקסימום. איך אתם חושבים שנכון לגשת לבעיות הללו? הגיבו פה למטה, ותסללו לנו את הדרך למוצר שהכי מתאים לכם...

  אה, לא נסיים את הפוסט הזה בלי הנתון החשוב ביותר. למקרה שתהיתם ההצלחה הגדולה הייתה ללא החלפת הצבע. עליו לחץ כל אחד בממוצע 19(!) פעמים. כנראה שאתם באמת צריכים למצוא בדחיפות פרוייקט צד :)



</div>
<div id="disqus_thread"></div>
<script>
    /**
     * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */

     var disqus_config = function () {
     this.page.url = 'http://walkthewalk.io/#/first-post'; // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = 'first-post-introduction-unique-id'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };

    (function() {
        var d = document, s = d.createElement('script');

        s.src = '//walkthewalk-il.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>