              <div>
                <h1 id="vision-message" class="light-green">
                  בונים מוצרים מגניבים. ביחד. מהצד!
                </h1>

                <p id="join-us">
                  הצטרפו אלינו עכשיו, ועזרו לנו להפוך את פרוייקט הצד הזה להרבה פרוייקטים קטנים
                </p>
                <form id="notify-form" class="form-horizontal">


                  <label for="email"></label>
                  <input type="text" id="email" placeholder="  אימייל" class="email-input">

                  <a id="notify-me" class="btn btn-default light-green-background">
                    הצטרפ/י
                  </a>
                  <div class="clearfix"></div>
                  <span id="error-email" class="error-text"></span>
                </form>
              </div>


