<p>
  WalkTheWalk.io
  הוא פרויקט צד של אוהד פרי ושי שפרנק
</p>
<p>
 נשמח לשמוע ממך בפוסט הרעיונות הראשון ב
  <a href="https://www.facebook.com/photo.php?fbid=10154369218508765&set=gm.572109559612948&type=3&theater" target="_blank">
    ״השבוע, שאלות ותשובות על סטארטאפים״
  </a>

</p>

<p>
    אהבת הכל חוץ מהצבע?

  <a href="#" id="color-change">
    לחץ כאן
  </a>


</p>

<a id="share-on-facebook" href="https://www.facebook.com/sharer/sharer.php?u=walkthewalk.io" target="_blank">
  Share on Facebook
</a>