<p>
  SideProjects.co.il
  הוא פרויקט צד של אוהד פרי ושי שפרנק
</p>
<p>
 נשמח לשמוע ממך בפוסט הרעיונות הראשון ב
  <a href="https://www.facebook.com/groups/Hashavua/" target="_blank">
    ״השבוע, שאלות ותשובות על סטארטאפים״
  </a>

</p>

<p>
    אהבת הכל חוץ מהצבע?

  <a href="#" id="color-change">
    לחץ כאן
  </a>
</p>