            <div class="row">
              <div id="title-right">
                <a href="/">
                  <p id="walk-the-walk-title" class="domain-name">WalkTheWalk.io</p>
                </a>
              </div>
              <div id="title-left" class="pull-left">

              </div>
            </div>