            <div class="row">
              <div id="title-right">
                <p class="domain-name">SideProjects.co.il</p>
              </div>
              <div id="title-left" class="pull-left">

              </div>
            </div>