    <div id="thank-you-page">
      <h1 id="vision-message" class="light-green">
        מעולה! עכשיו כמה בירורים...
      </h1>

      <div id="feedback">


        <!--################################################-->
        <div class="question-container">
          <span id="error-buyer-sellers" class="error-text"></span>
          <div class="clearfix"></div>
          <div id="buyer-sellers">
            <p class="question">
              איך (הכי סביר) שהיית משתמש/ת בפלטפורמה?
            </p>
            <div class="radios">
              <div class="radio">
                <label><input type="radio" name="buyer-sellers">
                  מגייס/ת אנשים לרעיון שלי
                </label>
              </div>
              <div class="radio">
                <label><input type="radio" name="buyer-sellers">
                  מצטרפ/ת לרעיון של מישהו אחר
                </label>
              </div>
              <div class="radio">
                <label><input type="radio" name="buyer-sellers">
                  מכיר/ה אנשים וחושב איתם על רעיונות
                </label>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>


        <!--################################################-->
        <div class="question-container">
          <span id="error-ideal-time" class="error-text"></span>
          <div class="clearfix"></div>
          <div id="ideal-time">
            <p class="question">
              איזה סוג של פרוייקט צד יותר מושך אותך יותר?
            </p>
            <div class="radios">
              <div class="radio">
                <label><input type="radio" name="ideal-time">
                  האקתון (עד 48 שעות אינטנסיביות לתוצר)
                </label>
              </div>
              <div class="radio">
                <label><input type="radio" name="ideal-time">
                  פרוייקט קצר (עד חודש לתוצר)
                </label>
              </div>
              <div class="radio">
                <label><input type="radio" name="ideal-time">
                  פרוייקט מתמשך (עד שלושה חודשים לתוצר)
                </label>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <!--################################################-->
        <div class="question-container">
          <span id="error-abilities" class="error-text"></span>
          <div class="clearfix"></div>
          <div id="abilities">
            <p class="question">
              מה את/ה עושה הכי טוב?
            </p>
            <p class="sub-question">
              אנחנו יודעים שאת/ה סופרמן/וונדרוומן אבל הטופ-2 שלך...
            </p>
            <div class="checkbox">
              <label><input type="checkbox" value="">
              מפתח
              </label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">
              מוצר
              </label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">
              מעצב
              </label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">
                שיווק
              </label>
            </div>
            <div class="checkbox">
              <label> <input type="checkbox" name="abilities" value="other">
                אחר:
                <input type="text" name="abilities-other">
              </label>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>


        <!--################################################-->
        <div class="question-container">
          <span id="error-main-motivation" class="error-text"></span>
          <div class="clearfix"></div>
          <div id="main-motivation">
            <p class="question">
              למה את/ה מתעניינ/ת בפרוייקטי צד?
            </p>
            <div class="radios">
              <div class="radio">
                <label><input type="radio" name="main-motivation">
                  להכיר אנשים מגניבים
                </label>
              </div>
              <div class="radio">
                <label><input type="radio" name="main-motivation">
                  אתגר מקצועי
                </label>
              </div>
              <div class="radio">
                <label><input type="radio" name="main-motivation">
                  הכנסה צדדית
                </label>
              </div>
              <div class="radio">
                <label><input type="radio" name="main-motivation">
                  התנסות ביזמות
                </label>
              </div>
              <label class="radio">

                <input type="radio" name="main-motivation" value="other">
                <label>
                אחר:
                </label>
                <input type="text" name="main-motivation-other">
              </label>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <!--################################################-->
        <div class="question-container">
          <p class="question">
          הצעות, שאלות, מענות וכל מה שבא לך לכתוב. תודה...
            </p>
          <span id="error-free_text" class="error-text"></span>
          <textarea id="free_text" class="form-control" rows="2"></textarea>
          <div class="clearfix"></div>
          <br/>
          <a id="feedback-button" class="btn btn-success light-green-background">
  שליחה
          </a>
        </div>
        </div>

    </div>
    <div class="clearfix"></div>